* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 80%;
  --orange: #D2872C;
  --gray: #766F68;
}

html,
body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 46px;
}

#logo {
  color: var(--orange);
  text-emphasis: bold;
  font: 700 3.5rem Roboto;
}

a {
  text-decoration: none;
  color: var(--gray);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}

main img {
  width: 90vw;
  padding: 90px 0 55px 0;
}

span {
  text-align: center;
  color: var(--gray);
}

span h1 {
  font: 700 4.0rem Roboto;
  line-height: 4.5rem;
}

span p {
  font: 400 2.0rem Roboto;
  padding: 42px 0 36px 0;
}

button {
  color: white;
  font: 700 3.0rem Roboto;
  background: var(--orange);
  padding: 2.5rem 6.5rem;
  border: none;
  border-radius: 2rem;
}